<html>
<head>
    <title>{{ title }}</title>
    <script type="module">import * as library from './static/__target__/library.js';

    window.library = library;</script>
</head>

<body>
{% include 'navbar.html' %}
<div class="p-3 mb-2 bg-secondary text-white">
    <h3 style="text-align: center;" class="font-weight-normal"> Welcome to {{ title }} </h3>
</div>
<div class="row justify-content-center">
    <div class="col-md-8 mb-3" style="text-align: center">
        <h4>In this project you will generate some random number and sort them.
        </h4>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-8 mb-3" style="text-align: left">
        <h5>
            <div id="generate">...</div>
            <button onclick="library.generate()">Generate 10 numbers</button>
        </h5>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-8 mb-3" style="text-align: left">
        <h5>
            <div id="sorted">...</div>
            <button onclick="library.sortnumber1()">Sort</button>
        </h5>
    </div>
</div>

</body>

<head>
    <title>{{title}}</title>
    <script type="module">import * as library from './static/__target__/library.js'; window.library = library;</script>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="p-3 mb-2 bg-secondary text-white">
        <h3 style="text-align: center;" class="font-weight-normal"> Welcome to {{title}} </h3>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 mb-3" style="text-align: center">
            <h4>In this project you will generate some random number and sort them.
            </h4>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 mb-3" style="text-align: left">
            <h5>
                <div id="generate">...</div>
                <button onclick="library.generate()">Generate 10 numbers</button>
            </h5>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 mb-3" style="text-align: left">
            <h5>
                <div id="sorted">...</div>
                <button onclick="library.sortnumber1()">Sort</button>
            </h5>
        </div>
    </div>

</body>
</html>
